.logo{
    max-width: 100%;
}

#socialMedia{
    padding: 5px 30px 0px 5px;
    margin: auto;
    background-color: black;
    text-align: right;
    align-items: center;
    vertical-align: middle;
}

.imgSocial{
    width: auto;
    height: 30px;
    padding:10px 10px 0px 0px;
    fill: azure;
}

.linkSocial{
    display: inline-block;
    text-decoration: none;
}

.linkSocial:hover .imgSocial{
    fill: #F35B2C;
}

.bgColor{
    background-color: #F35B2C;
}

.dropdown-item{
    font-weight: bold;
}

.dropdown-item:hover{
    background-color: white;
    color: #F35B2C;
}

.menuItem{
    font-weight: bold;
}

.menuItem:hover{
    background-color: #e5e5e5;
    color: #F35B2C !important;
}

.menuItem2{
    font-weight: bold;
    background-color: white;
    color: black;
}

.lupa{
    width: 30px;
}

#searchInput.show {
    transition: all 0.3s ease-in-out;
  }